<div class="labelled-input">
  <label for="transportType">Transport Type</label>
  <select class="dropdown" name="transportType">
    <option value="all"
      <%= (locals.selected !== 'all') ? "selected": "" %>>
      &mdash; All &mdash;
    </option>
    <option value="MARTA"
      <%= (locals.selected === 'MARTA') ? "selected": "" %>>
      MARTA
    </option>
    <option value="Bus"
      <%= (locals.selected === 'Bus') ? "selected": "" %>>
      Bus
    </option>
    <option value="Bike"
      <%= (locals.selected === 'Bike') ? "selected": "" %>>
      Bike
    </option>
  </select>
</div>
