<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Site (21)</title>
    <% include ../../partials/head %>
  </head>
  <body>
    <h1 class="title --centered">Create Site</h1>
    <!--  -->
    <form class="" action="/admin/sites/create" method="post">
      <div class="input-row">
        <div class="labelled-input">
          <label for="firstName">Name</label>
          <input type="text" name="name" />
        </div>
        <div class="labelled-input">
          <label for="lastName">Zipcode</label>
          <input type="text" name="zipcode" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="address">Address</label>
          <input type="text" name="address" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="password">Manager</label>
          <select name="manage" id="">
            <option value="clara" selected>Clara Wilson</option>
          </select>
        </div>
        <div class="labelled-input">
          <input type="checkbox" name="openEveryday" value="openEveryday" />
          <label for="openEveryday">Open Everyday</label>
        </div>
      </div>
      <div class="button-row --centered">
        <a href="/admin/sites">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <button class="btn" type="submit" name="create">Create</button>
      </div>
    </form>
  </body>
</html>
