<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 24 %>
    <h1 class="title --centered">Create Transit</h1>
    <form class="" action="/admin/transits/create" method="post">
      <div class="input-row">
        <div class="labelled-input">
          <label for="transportType">Transport Type</label>
          <select class="dropdown" name="type">
            <option value="MARTA" selected>MARTA</option>
            <option value="Bus">BUS</option>
            <option value="Bike">BIKE</option>
          </select>
        </div>
        <div class="labelled-input">
          <label for="route">Route</label>
          <input type="text" name="route" value="" />
        </div>
        <div class="labelled-input">
          <label for="route">Price ($)</label>
          <input type="text" name="price" value="" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="sites">Connected Sites</label>
          <select name="sites" multiple>
            <% sites.forEach(site => { %>
            <option value="<%= site.SiteName %>"><%= site.SiteName %> </option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="button-row">
        <a href="/admin/transits">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
