<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 23 %>
    <h1 class="title --centered">Edit Transit</h1>
    <form class="" action="/admin/transits/create" method="post">
      <div class="input-row">
        <div class="labelled-input">
          <label for="username">Transport Type</label>
            <input value="bus" disabled></input>
        </div>
        <div class="labelled-input">
          <label for="route">Route</label>
          <input type="text" name="route" value="" />
        </div>
        <div class="labelled-input">
          <label for="route">Price ($)</label>
          <input type="text" name="route" value="" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="connectedSites">Connected Sites</label>
          <select name="" id="connectedSites" multiple>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
            <option value="">Atlanta Beltline Center</option>
          </select>
        </div>
      </div>
      <div class="button-row">
        <a href="/admin/transits">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <button class="btn" type="submit" name="submit">Update</button>
      </div>
    </form>
  </body>
</html>
