<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 19 %>
    <h1 class="title --centered">Manage Site</h1>
    <form class="" action="/admin/sites" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="username">Sites</label>
          <select class="dropdown" name="sites">
            <option value="all" selected>--All--</option>
            <!-- TODO: insert  -->
          </select>
        </div>
        <div class="labelled-input">
          <label for="username">Manager</label>
          <select class="dropdown" name="manager">
            <option value="all" selected>--All--</option>
          </select>
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="">Open Everyday</label>
          <select class="dropdown" name="openEveryday">
            <option value="true" selected>Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>
      <div class="button-row">
        <button class="btn" type="submit">Filter</button>
      </div>
    </form>
    <form class="" action="/admin/sites" method="post">
      <table>
        <thead>
          <th>Name</th>
          <th>Manager</th>
          <th>Open Everyday</th>
        </thead>
        <tbody>
          <% manages.forEach(manage => { %>
          <tr>
            <td>
              <input
                type="radio"
                name="selectedSiteName"
                value="<%= manage.name %>"
              />
              <%= manage.name %>
            </td>
            <td><%= manage.manager%></td>
            <td><%= manage.openEveryday%></td>
          </tr>
          <% });%>
        </tbody>
      </table>

      <div class="button-row">
        <a href="/admin/sites/create">
          <button class="btn" type="button" name="create">Create</button>
        </a>
        <button class="btn" type="submit" name="buttonType" value="edit">
          Edit
        </button>
        <button class="btn" type="submit" name="buttonType" value="delete">
          Delete
        </button>
      </div>
    </form>
    <div class="button-row">
      <a href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
