<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 18 %>
    <h1>Manage User</h1>
    <form class="" action="/admin/users" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="Name">Username</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="labelled-input">
          <label for="userType">User Type</label>
          <select class="dropdown" name="userType">
            <option value="manager" selected>User</option>
            <option value="staff">Visitor</option>
            <option value="staff">Staff</option>
            <option value="staff">Manager</option>
          </select>
        </div>
        <div class="labelled-input">
          <label for="status">Status</label>
        <select class="dropdown" name="Status">
          <option value="manager" selected>--All--</option>
          <option value="staff">Approved</option>
          <option value="staff">Pending</option>
          <option value="staff">Declined</option>
        </select>
      </div>
      </div>
    </form>
    <div class="button-row">
      <button class="btn" type="button" name="filter">Filter</button>
      <button class="btn" type="button" name="edit">Approve</button>
      <button class="btn" type="button" name="edit">Decline</button>
    </div>
    <table>
      <tr>
        <th>Username</th>
        <th>Email Count</th>
        <th>User Type</th>
        <th>Status</th>
      </tr>
      <tr>
        <td><input type="radio" selected /> cwilson</td>
        <td>3</td>
        <td>Manager</td>
        <td>Pending</td>
      </tr>
    </table>

    <div class="button-row">
      <a href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
