<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
    <title>Dashboard</title>
  </head>
  <body>
    <h1 class="title --centered">Dashboard</h1>
    <div class="two-column">
      <% if (type !== 'U') { %>
        <a href="/profile">
          <button class="btn --centered">Manage profile</button>
        </a>
      <% } %>
      <% if (type === 'S') { %>
        <a href="/schedule">
          <button class="btn --centered">View Schedule</button>
        </a>
      <% } %>
      <% if (type === 'M') { %>
        <a href="/manager/events">
        <button class="btn --centered">Manage Event</button>
        </a>
        <a href="/manager/events/staff">
          <button class="btn --centered">View Staff</button>
        </a>
        <a href="/manager/site">
          <button class="btn --centered">View Site Report</button>
        </a>

      <% } %>
      <% if (type === 'A') { %>
        <a href="/admin/users">
          <button class="btn --centered">Manage User</button>
        </a>
        <a href="/admin/transits">
          <button class="btn --centered">Manage Transit</button>
        </a>
        <a href="/admin/sites">
          <button class="btn --centered">Manage Site</button>
        </a>
      <% } %>
      <% if (isVisitor) { %>
        <a href="/visit/events">
          <button class="btn --centered">Explore Event</button>
        </a>
        <a href="/visit/sites">
          <button class="btn --centered">Explore Site</button>
        </a>
        <a href="/visit/history">
          <button class="btn --centered">View Visit History</button>
        </a>
      <% } %>
      <a href="/transits">
        <button class="btn --centered">Take Transit</button>
      </a>
      <a href="/transits/history">
        <button class="btn --centered">View Transit History</button>
      </a>
      <a href="/">
        <button class="btn --centered">Back</button>
      </a>
    </div>
  </body>
</html>

<style media="screen">
  .two-column {
    width: 100%;
  }
  .two-column > * {
    float: left;
    display: block;
    width: 44%;
    margin-left: 5%;
    margin-bottom: 30px;
  }
</style>
