<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../partials/head %>
    <title>Login</title>
  </head>
  <body>
    <h1 class="title --centered">Atlanta Beltline Login</h1>
    <form class="" action="/login" method="post">
      <div class="input-row --centered">
        <div class="labelled-input">
          <label for="Email">Email</label>
          <input type="text" name="email" />
        </div>
      </div>
      <div class="input-row --centered">
        <div class="labelled-input">
          <label for="Password">Password</label>
          <input type="password" name="password" />
        </div>
      </div>
      <div class="button-row">
        <button class="btn" type="submit">Login</button>
        <a class="btn-link" href="/register">
          <button class="btn" type="button">Register</button>
        </a>
      </div>
    </form>
  </body>
</html>
