<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../partials/head %>
    <title>Login (1)</title>
  </head>
  <body>
    <h1>Atlanta Beltline Login</h1>
    <form action="">
      <div class="input-row">
        <div class="labelled-input">
          <label for="Email">Email</label>
          <input type="text" name="email" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="Password">Password</label>
          <input type="text" name="password" />
        </div>
      </div>
      <div class="button-row">
        <button type="submit">Login</button>
        <button type="menu">Register</button>
      </div>
    </form>
  </body>
</html>
