<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register User (3)</title>
    <% include ../partials/head %>
  </head>
  <body>
    <h1 class="title --centered">Register User</h1>
    <form action="">
      <div class="input-row">
        <div class="labelled-input">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" />
        </div>
        <div class="labelled-input">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="username">Username</label>
          <input type="text" name="username" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="password">Password</label>
          <input type="password" name="password" />
        </div>
        <div class="labelled-input">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" />
        </div>
      </div>
      <div class="input-row">
        <label for="email">Email</label>
        <!-- TODO: Emails here -->
      </div>
      <div class="button-row --centered">
        <a class="btn-link" href="/register/">
          <button class="btn" type="button">Back</button>
        </a>
        <button class="btn" type="submit" name="register">Register</button>
      </div>
    </form>
  </body>
</html>
