<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../partials/head %>
    <title >Register Navigation</title>
  </head>
  <body>
    <h1 class="title --centered">Register Navigation</h1>
    <div class="button-row --centered">
      <button class="btn">User Only</button>
    </div>
    <div class="button-row --centered">
      <button class="btn">Visitor Only</button>
    </div>
    <div class="button-row --centered">
      <button class="btn">Employee Only</button>
    </div>
    <div class="button-row --centered">
      <button class="btn">Employee-Visitor</button>
    </div>
    <div class="button-row --centered">
      <button class="btn">Back</button>
    </div>
  </body>
</html>
