<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Take Transit</title>
  </head>
  <body>
    <h1 class="title --centered">Take Transit</h1>
    <form class="" action="" method="">
      <div class="input-row">
        <div class="labelled-input">
          <label for="site">Contain Site</label>
          <select class="dropdown" name="site">
            <%# for site in sites { %>
            <option value="Inman Park<%#site.name%>">Inman Park<%# site.name%></option>
            <%# } %>
          </select>
        </div>
        <div class="labelled-input">
          <label for="transportType">Transport Type</label>
          <select class="dropdown" name="transportType">
            <option value="MARTA">MARTA</option>
            <option value="Bus">Bus</option>
            <option value="Bike">Bike</option>
            <option value="all">&ndash; All &ndash;</option>
          </select>
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="priceRange">Price Range</label>
          <div class="range-inputs">
            <input class="--little" type="text" name="lowerPrice" value=""/>
            &nbsp;&mdash;&nbsp;
            <input class="--little" type="text" name="upperPrice" value=""/>
          </div>
        </div>
        <button class="btn" type="submit">Filter</button>
      </div>
    </form>
    <form class="" action="index.html" method="post">
      <table>
        <thead>
          <tr>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th># Connected Sites</th>
          </tr>
        </thead>
        <tbody>
          <%# for transit in transits {%>
          <tr>
            <td>816<%# transit.route %></td>
            <td>Bus<%# transit.type %></td>
            <td>2.5<%# transit.price %></td>
            <td>4<%# transit.siteCount %></td>
          </tr>
          <%# }%>
        </tbody>
      </table>
      <div class="input-row">
        <a class="btn-link" href="/dashboard">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <div class="labelled-input">
          <label for="transitDate">Transit Date</label>
          <input type="text" name="transitDate" value=""/>
        </div>
        <button class="btn" type="submit">Log Transit</button>
      </div>
    </form>
  </body>
</html>
