<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <title></title>
  </head>
  <body>
    <%# Screen 30 %>
    <h1 class="title --centered">Daily Detail</h1>
    <table>
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Staff Names</th>
          <th>Visits</th>
          <th>Revenue ($)</th>
        </tr>
      </thead>
      <tbody>
        <% eventDailies.forEach((evt) => { %>
        <tr>
          <td><%= evt.name %></td>
          <td><%= evt.staff.join(', ') %></td>
          <td><%= evt.visits %></td>
          <td><%= evt.revenue %></td>
        </tr>
        <% })%>
      </tbody>
    </table>
    <div class="button-row --centered">
      <a class="btn-link" href="/manager/site">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
