<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <title>Explore Events</title>
  </head>
  <body>
    <h1 class="title --centered">Explore Event</h1>
    <form class="" action="" method="">
      <div class="input-row">
        <div class="labelled-input">
          <label for="name">Name</label>
          <input type="text" name="name" value=""/>
        </div>
        <div class="labelled-input">
          <label for="keyword">Description Keyword</label>
          <input type="text" name="keyword" value=""/>
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="siteName">Site Name</label>
          <select class="dropdown" name="siteName">
            <option value="ALL" selected>-- ALL --</option>
            <%# get all sites names and site ids here %>
          </select>
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="startDate">Start Date</label>
          <input type="text" name="startDate" value=""/>
        </div>
        <div class="labelled-input">
          <label for="endDate">End Date</label>
          <input type="text" name="endDate" value=""/>
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="visitRange">Total Visits Range</label>
          <div class="range-inputs">
            <input class="--little" type="text" name="lowerVisitTotal" value=""/>
            &nbsp;&mdash;&nbsp;
            <input class="--little" type="text" name="upperVisitTotal" value=""/>
          </div>
        </div>
        <div class="labelled-input">
          <label for="priceRange">Ticket Price Range</label>
          <div class="range-inputs">
            <input class="--little" type="text" name="lowerTicketPrice" value=""/>
            &nbsp;&mdash;&nbsp;
            <input class="--little" type="text" name="upperTicketPrice" value=""/>
          </div>
        </div>
      </div>
      <div class="input-row --centered">
        <div class="labelled-input">
          <input type="checkbox" name="includeVisited" checked='false'/>
          <label for="includeVisited">Include Visited</label>
        </div>
        <div class="labelled-input">
          <input type="checkbox" name="includeSoldOut" checked='false'/>
          <label for="includeSoldOut">Include Sold Out Events</label>
        </div>
      </div>
    </form>
    <div class="button-row">
      <button class="btn" type="button" name="filter">Filter</button>
      <button class="btn" type="button" name="eventDetail">Event Detail</button>
    </div>
    <div class="resultsTable">
      <table>
        <tr>
          <th>Event Name</th>
          <th>Site Name</th>
          <th>Ticket Price</th>
          <th>Ticket Remaining</th>
          <th>Total Visits</th>
          <th>My Visits</th>
        </tr>
        <%# insert list of qualifying events here %>
      </table>
    </div>
    <div class="button-row">
      <a class="btn-link" href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
