<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <title>Event Detail</title>
  </head>
  <body>
    <h1 class="title --centered">Event Detail</h1>
    <div class="input-row">
      <div class="labelled-input">
        <label for="event">Event</label>
        <input type="text" name="event" value="" disabled>
      </div>
      <div class="labelled-input">
        <label for="site">Site</label>
        <input type="text" name="site" value="" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="startDate">Start Date</label>
        <input type="text" name="startDate" value="" disabled>
      </div>
      <div class="labelled-input">
        <label for="endDate">End Date</label>
        <input type="text" name="endDate" value="" disabled>
      </div>
      <div class="labelled-input">
        <label for="endDate">Duration Days</label>
        <input type="text" name="endDate" value="" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="startDate">Staffs Assigned</label>
        <input type="text" name="startDate" value="" disabled>
      </div>
      <div class="labelled-input">
        <label for="endDate">Capacity</label>
        <input type="text" name="endDate" value="" disabled>
      </div>
      <div class="labelled-input">
        <label for="endDate">Price</label>
        <input type="text" name="endDate" value="" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="description">Description</label>
        <textarea name="description" disabled></textarea>
      </div>
    </div>
    <div class="button-row">
      <a class="btn-link" href="/staff">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
